<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="email=no,telephone=no,address=no">
<meta name="author"	content="folivora" />
<title>Front</title>
<meta name="description" content="（ページの説明）">
<meta name="robots" content="index,follow">

<link rel="stylesheet" href="../../library/slick/slick.css" type="text/css">
<link rel="stylesheet" href="../../library/slick/slick-theme.css" type="text/css">

<link rel="stylesheet" href="index.min.css" type="text/css">

</head>

<style media="screen">
</style>
<body>
<div id="page" class="">


<header id="masthead" class="masthead">
  <div class="masthead__inner">
    <nav class="navigation">
      <h1>
        <a href="../index.html">
          草津温泉
          <span>8K8D</span>
        </a>
      </h1>
      <ul>
        <li><a href="./doga/index.html">MOVIE</a></li>
        <li><a href="./gazo/index.html">SOUND</a></li>
        <li><a href="./gazo/index.html">PHOTO</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="video-bg">
  <iframe src="https://www.youtube.com/embed/xN0zWzinpcs?autoplay=1&mute=1&playsinline=1&loop=1&playlist=xN0zWzinpcs&controls=0&disablekb=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<main>
  <section class="hero">
    <div class="hero__inner">
      <div class="hero__top">
      </div>
      <div class="hero__animation">
        <div class="hero__animation-bg">
          <img src="./visual_mask.png" alt="">
          <img src="./visual_mask.png" alt="">
        </div>
      </div>
      <div class="hero__copy">
        <div class="hero__copy-inner">
          <h1>SOUND OF KUSATSU ONSEN</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="subhero">
    <div class="subhero__inner">
      <h2>- 泉質主義 -</h2>
      <p>
        私は平生たといそんな影響らというのの時でいうますた。<br>
        もし大体に誘惑人ももしこの吟味ましませまでの云っているなけれには煩悶知ったまして、まだには行ったですますます。
      </p>
    </div>
  </section>

  <section class="content">
    <div class="content__inner">
      <div class="content__item">
        <div class="content__item-title">
          <h2>MOVIE</h2>
          <p>MOVIE</p>
        </div>
        <div class="content__item-detail">
          <div class="image">
            <img src="https://img.youtube.com/vi/xN0zWzinpcs/hqdefault.jpg" alt="">
          </div>
          <div class="text">
            <h3>Here is the Title</h3>
            <p>
              私は平生たといそんな影響らというのの時でいうますた。<br>
              もし大体に誘惑人ももしこの吟味ましませまでの云っているなけれには煩悶知ったまして、まだには行ったですますます。
            </p>
            <a href="./doga/index.html">View more</a>
          </div>
        </div>
      </div><!-- end content item -->

      <div class="content__item">
        <div class="content__item-title">
          <h2>SOUND</h2>
          <p>SOUND</p>
        </div>
        <div class="content__item-detail">
          <div class="image">
            <img src="https://img.youtube.com/vi/xN0zWzinpcs/hqdefault.jpg" alt="">
          </div>
          <div class="text">
            <h3>Here is the Title</h3>
            <p>
              私は平生たといそんな影響らというのの時でいうますた。<br>
              もし大体に誘惑人ももしこの吟味ましませまでの云っているなけれには煩悶知ったまして、まだには行ったですますます。
            </p>
            <a href="./oto/index.html">View more</a>
          </div>
        </div>
      </div><!-- end content item -->

      <div class="content__item">
        <div class="content__item-title">
          <h2>PHOTO</h2>
          <p>PHOTO</p>
        </div>
        <div class="content__item-detail">
          <div class="image">
            <img src="https://img.youtube.com/vi/xN0zWzinpcs/hqdefault.jpg" alt="">
          </div>
          <div class="text">
            <h3>Here is the Title</h3>
            <p>
              私は平生たといそんな影響らというのの時でいうますた。<br>
              もし大体に誘惑人ももしこの吟味ましませまでの云っているなけれには煩悶知ったまして、まだには行ったですますます。
            </p>
            <a href="./gazo/index.html">View more</a>
          </div>
        </div>
      </div><!-- end content item -->

    </div>
  </section>

</main>

<footer>
  <small>&copy; 2021 Kusatsu Onsen.</small>
</footer>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../library/slick/slick.js"></script>

<script type="text/javascript">

</script>

</body>
</html>
