//compileCompressed: $1.min.css
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap');

$set-prefix: '', -moz-, -webkit-, -ms-;
@mixin PropertySetPrefix($name, $value) {
  @each $prefix in $set-prefix {
    #{$prefix}#{$name} : $value;
  }
}
@mixin ValueSetPrefix($name, $value) {
  @each $prefix in $set-prefix {
    #{$name} : #{$prefix}$value;
  }
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #EBE8E1;
  //background-color: #222222;
  color: #333;
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
}
#page {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.masthead {
  position: fixed;
  z-index: 200;
  width: 100%;
  &__inner {
    padding: 20px 40px;
    background-color: #222222;
  }
  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      span {
        font-size: 29px;
        letter-spacing: 7px;
        line-height: 1;
        display: block;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      width: 15%;
      font-size: 20px;
      font-weight: bold;
      li {
        position: relative;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}

footer{
  display: flex;
  background-color: #222222;
  color: #fff;
  text-align: center;
  height: 80px;
  small {
    margin: auto;
  }
}

.video-bg {
  position: fixed;
  z-index: -1;
  background-color: #222222;
  iframe {
    width: 100vw;
    height: 100vh;
    transform: scale(1.2);
    opacity: .7;
  }
}
main.doga {
  background: #fff;
  padding-top: 100px;
}
.hero {
  width: 100vw;
  width: 100%;
  height: calc(100vh - 80px);
  height: 100vh;
  background: transparent;
  &__inner {
    height: 100%;
  }
  &__top {
    width: 100%;
    height: 25vh;
    height: 25%;
    /* min-height: 216.172px; */
    background: #fff;
    overflow: hidden;
  }
  &__animation {
    height: 40vh;
    height: 40%;
    /* min-height: 296.656px; */
    position: relative;
    background: transparent;
  }
  &__animation-bg {
    width: 100vw;
    height: 100%;
    /* min-height: 296.656px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //opacity: 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 20px 0px 0px #ffffff, 0px -20px 0px 0px #ffffff;
    box-shadow: 0px 20px 0px 0px #ffffff, 0px -20px 0px 0px #ffffff;
    //animation: fadeInAnime 0.8s cubic-bezier(0.0, 0.0, 1.0, 1.0) forwards;
    img {
      width: auto;
      height: 100%;
      -webkit-box-shadow: 20px 0px 0px 0px #ffffff, -20px 0px 0px 0px #ffffff, 0px 20px 0px 0px #ffffff, 0px -20px 0px 0px #ffffff;
      box-shadow: 20px 0px 0px 0px #ffffff, -20px 0px 0px 0px #ffffff, 0px 20px 0px 0px #ffffff, 0px -20px 0px 0px #ffffff;
      position: relative;
      &:first-child {
        animation: loop 40s -20s linear infinite;
        backface-visibility: hidden;
        will-change: transform;
      }
      &+img {
        -webkit-animation: loop2 40s linear infinite;
        animation: loop2 40s linear infinite;
        margin-left: 0;
      }
    }
  }
  &__copy {
    background: #fff;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 35vh;
    height: 35%;
  }
  &__copy-inner {
    padding-top: 130px;
    h1 {
      font-size: 48px;
      letter-spacing: 3px;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      font-size: 36px;
      margin: 0;

    }
  }
}

.subhero {
  margin: 200px auto;
  width: 60vw;
  &__inner {

  }
  h2 {
    font-size: 54px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  p {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }
}

.content {
  padding: 100px 0;
  background: #fff;
  &__inner {
    margin: auto 6%;
  }
  &__item {
    &:nth-child(2) {
      .content__item-title {
        h2 {
          right: inherit;
          left: 100px;
        }
        p {
          right: inherit;
          left: 0;
        }
      }
      .content__item-detail {
        .image { order: 2; }
        .text { order: 1; }
      }
    }
  }
  &__item-title {
    position: relative;
    min-height: 200px;
    top: 50px;
    h2 {
      font-size: 70px;
      font-weight: 900;
      line-height: 1;
      position: absolute;
      bottom: 0;
      right: 100px;
      margin: 0;
      z-index: 1;
    }
    p {
      color: #fff;
      -webkit-text-stroke: 1px #222222;
      font-size: 200px;
      font-weight: 900;
      line-height: 1;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }
  }
  &__item-detail {
    &:nth-child(1), &:nth-child(3) {
      .image {
        order: 2;
      }
      .text {
        order: 1;
      }
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 100px;
    }
    position: relative;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .image {
      flex: 2;
      position: relative;
      height: 600px;
      width: 100%;
      overflow: hidden;
      position: relative;
      margin: 0;
      padding: 0;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      /* pour anciens Chrome et Safari */
      background-size: cover;
      /* version standardisée */
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        background: #222222;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        opacity: .2;
        pointer-events: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .4s;
        &:hover {
          opacity: .7;
          transform: scale(1.03);
        }
      }
    }
    .text {
      flex: 1;
      position: relative;
      margin: auto 100px;
      h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 50px;
      }
      p {
        font-family: 'Noto Serif JP', serif;
        text-align: left;
        font-size: 16px;
        line-height: 2;
      }
      a {
        display: block;
        margin: auto;
        width: 200px;
        text-align: center;
        padding: 15px 0;
        text-decoration: none;
        color: #fff;
        background: #222222;
        border-radius: 15px;
        margin-top: 50px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }
}
@keyframes loop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes loop2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
